<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Village Library welcoming you!</title>
</head>
<body>
<h1>Let's find out what books library has</h1>
<!--/*@thymesVar id="Author" type="org.example.payload.Author"*/-->
<form action="#" th:action="@{/library/getBooks}" th:object="${findBooksForm}" method="post">
    <p>Author: <label>
        <input type="text" th:field="*{value}"/>
    </label></p>
    <p><input type="submit" value="Find books"/> <input type="reset" value="Reset"/></p>
    <a href="/library">Back to the main page</a>
</form>
</body>
</html>