<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sorry, we do not have books written by this author :( </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>There are no books written by this author :( </h1>
<p th:text="'Sorry, we do not have books written by this author, please, try to find something else'"></p>
<a href="/library/getBooks">Let's try again</a>
<a href="/library">Back to the main page</a>
</body>
</html>